<div class="container">
<div class="row">
          <div class='top-message col-md-offset-3 col-md-6'>
            <h1><span class='fas fa-book'><strong>NEWVERY</strong>  </h1>
                  <p>Hi Everyone.Welcome to<span class='fas fa-book'></span><strong>  NEWVERY  </strong></p>
                  <p>Post the best one and share your memories.</p>
                  <p>Let's start!!!!!</p>
                  
                  
                  
                  